h1 {
  padding-top: 30px;
  color: #ff8f8f;
  font-size: 100px;
  font-family: "Nosifer", sans-serif;
  position: absolute;
  left: 100px;
}
p.desc {
  color: #ff8f8f;
  padding-top: 170px;
  font-family: sans-serif;
  left: 114px;
  position: absolute;
  font-size: 20px;
}

h2 {
  left: 114px;
  padding-top: 220px;
  color: #ff8f8f;
  font-family: sans-serif;
  position: absolute;
  font-size: 40px;
  font-weight: bold;
}

body {
  background-color: #636363;
}

.card {
  background-color: #505050;
}

.card:hover {
  background-color: #717171;
}

.title {
  color: #ff8f8f;
  font-weight: bold;
}

.subtitle {
  color: white;
}

footer {
  padding: 50px;
  text-align: center;
  background-color: #505050;
}

span {
  animation: blinking 1s linear infinite;
}

@keyframes blinking {
  50% {
    opacity: 0;
  }
}
